.principal{
    font-family: 'Spartan', sans-serif;
    display: grid;
    grid-template-areas:
        "a b"
        "c c";
    width: 100%;
    grid-template-columns: 1700px 2000px;
    grid-template-rows: 1000px 1000px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 200px 950px;    
}

.titulo{
    padding: 30px;
    grid-area: a;   
}

h1{
    font-size: 150px;
    color: hsl(300, 43%, 22%);
    margin: 90px 0px 20px 45px;
    line-height: 1;
}


.texto{
    color: hsl(300, 43%, 22%);
    font-size: 45px;
    padding: 1px 142px 94px 44px;    
    line-height: 1.8;
}

.cuadros-stars{
    color: hsl(300, 43%, 22%);
    padding: 50px;
    font-size: 28px;
    margin: 49px;
    grid-area: b;    
}

.flex-1{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
    margin: 68px 400px 60px 60px;
    padding: 16px;
}

.flex-2{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    border-radius: 20px;
    margin: 38px 260px 16px 200px;
    padding: 7px;
}
.flex-3{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    border-radius: 15px;
    margin: 68px 130px 60px 350px;
    padding: 16px;
}
.contenedor{
    display: flex;
    width: 28%;
    padding: 31px 1px 21px 60px;
    /* height: 51px;
    width: 55px; */
}

img{
    height: 51px;
    width: 73px;
}

 .h2-1{
    margin: 50px 50px 40px 85px;
}

.h2-2{
    margin: 50px 50px 50px 95px;
}

.h2-3{
    margin: 50px 50px 30px 90px;
}

.cuadros-review{
    display: flex;
    grid-area: c;
}

.cuadro-1{
    width: 1050px;
    height: 707px;
    border: 1px solid hsl(300, 43%, 22%);
    background-color: hsl(300, 43%, 22%);
    color: hsl(303, 10%, 53%);
    border-radius: 37px;
    position: relative;
    margin: 50px;
}
h3{
    position: absolute;
    top: 85px;
    left: 321px;
    color: hsl(300, 24%, 96%);
    font-size: 41px;
}

.buyer{
    position: absolute;
    top: 152px;
    left: 321px;
    color: hsl(333, 80%, 67%);
    font-size: 39px;
}

.review{
    position: absolute;
    top: 220px;
    left: 6px;
    font-size: 37px;
    color: white;
    margin: 104px;
    line-height: 2;
}

.cuadro-2{
    width: 1050px;
    height: 707px;
    border: 1px solid hsl(300, 43%, 22%);
    background-color: hsl(300, 43%, 22%);
    color: hsl(303, 10%, 53%);
    border-radius: 37px;
    position: relative;
    margin: 109px 50px 50px 50px;
}

.cuadro-3{
    width: 1050px;
    height: 707px;
    border: 1px solid hsl(300, 43%, 22%);
    background-color: hsl(300, 43%, 22%);
    color: hsl(303, 10%, 53%);
    border-radius: 37px;
    position: relative;
    margin: 161px 50px 50px 50px
}

.imagen-1{
    border-radius: 150px;
    position: absolute;
    top: 115px;
    left: 105px;
    height: 18%;
    width: 14%
}
